<%= form_for @rider do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div>
    <%= f.label :age %>
    <%= f.number_field :age %>
    </div>
    <div>
    <%= f.collection_check_boxes :rollercoaster_ids, @rollercoasters, :id, :name %>
    </div>
    <%= f.submit %>
<% end %>